
<br>

<div class="row">
 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="total-orders" style="background-color: rgb(8, 138, 225);">
      <div class="card-header">
       <h5 class="card-title">Total Task</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{total_tasks}}</h3>    
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="orders-delivered" style="background-color: rgb(8, 138, 225);">
      <div class="card-header">
       <h5 class="card-title">Task Completed</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{task_complete}}</h3>
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="orders-pending" style="background-color: rgb(8, 138, 225);">
      <div class="card-header">
       <h5 class="card-title">Tasking Open</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{task_open}}</h3>
      </div>
   </div>
  </div>
 </div>
 <div class="col">
    <div class="col-md">
     <div class="card text-center text-white  mb-3" id="orders-delivered" style="background-color: rgb(8, 138, 225);">
        <div class="card-header">
         <h5 class="card-title">Task In Progress</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{task_progress}}</h3>
        </div>
     </div>
    </div>
   </div>
  
</div>